doctype html
html (lang="ru")
title demo
body
    form(action="submitform", method="GET")
        input(name='name' required placeholder="name")
        input(name="password" type="password" required)
        input(name="submit", type="submit")

case counter
    when  "1"
        p hello
    when "2"
        p again      